html, body{
    background-color: #606c38;
}

.inner-page{
    padding-left: 35px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #dde5b6;
}

#h1-style{
    color: #333d29;
    font-family: 'Fondamento', cursive;
    font-size: xx-large;
}

h2{
    color: #333d29;
    font-family: 'Fondamento', cursive;
}

h3{
    color: #333d29;
    font-family: 'Fondamento', cursive;
}

p{
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    color: #585123;
    margin-left: 10px;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.bold-green {
    font-weight: bold;
    color: #007200;
}

.donut-desc {
    padding-left: 90px;
    padding-top: 30px;
}

#LineChart {
    padding-left: 40px;
}

.map-desc{
    padding-top: 80px;
}

.pure-u-1 img{
    width: 85vw;
    height: 10vw;
}

#invisible-authorship{
    color: #dde5b6;
}

#pad-top{
    padding-top: 49px;
}

#pad-top2{
    padding-top: 49px;
}

#reference{
    font-size: x-large;
    font-weight: bold;
    color: #007200;
}

.pure-u-1-3 img{
    width: 28vw;
    height: 14vw;
    padding-top: 20px;
}

.text-not-imp{
    font-size: smaller;
    color: #adc178;
}

.bold-red{
    font-weight: bold;
    color: #800f2f;
}