#h1-style{
    color: #333d29;
    font-family: 'Fondamento', cursive;
    font-size: xx-large;
}

h2{
    color: #333d29;
}

p{
    color: #585123;
}

.right-align{
    text-align: right;
}

.center-align{
    text-align: center;
}

html, body{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: #dde5b6;
}



.graphs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* not working */
/* making the text to left */
.text-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.first-graphs{
    height: 40vh;
}

.graph-title{
    text-align: center;
    font-size: small;
}

.left-title{
    font-size: small;
    text-align: left;
}

.whitespace{
    white-space: pre-line;
}

.impact-graph-title{
    font-size: small; 

}

.pure-u-1 img{
    width: 85vw;
    height: 10vw;
}

/* not working */
.border-para{
    border: 5px #333d29;
}