#h1-style{
    color: #007f5f;
    font-family: 'Fondamento', cursive;
    font-size: xx-large;
}

h2{
    color: #55a630;
}

p{
    color: #585123;
}

.right-align{
    text-align: right;
}

.center-align{
    text-align: center;
}

html, body{
    padding-left: 10px;
    background-color: #d8f3dc;
}

.graphs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* not working */
/* making the text to left */
.text-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.first-graphs{
    height: 40vh;
}

.graph-title{
    text-align: center;
    font-size: small;
}

.left-title{
    font-size: small;
    text-align: left;
}

.whitespace{
    white-space: pre-line;
}

.impact-graph-title{
    font-size: small; 
    padding-left: 110px;

}

#impact-graphs{
    padding-left: 33px;
}